<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ardnn.flix">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flix">
        <activity
            android:name="com.ardnn.flix.genre.GenreActivity"
            android:exported="false" />
        <activity
            android:name="com.ardnn.flix.tvshowdetail.TvShowDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.ardnn.flix.moviedetail.MovieDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.ardnn.flix.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ardnn.flix.MainActivity"
            android:exported="true" />
    </application>

</manifest>